@model Category

<div>
	<h1>All Categories</h1>

	@if(TempData["CategoryDelete"] != null) {
		<p class="alert alert-success">@TempData["CategoryDelete"]</p>
	}

	@if (User.IsInRole("Admin"))
	{
		<a class="btn btn-primary" asp-action="New" asp-controller="Categories">
			<i class="bi bi-plus-square"></i>
		</a>
	}

	<ul class="d-flex">
		@foreach(Category category in ViewBag.Categories) {
			<li class="btn trash-trigger d-flex flex-row align-items-center">
				@if(User.IsInRole("Admin")) {
					<form method="post" asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id">
						<input type="hidden" name="_method" value="DELETE" />

						<button class="btn btn-danger trash1" type="submit">
							<i class="bi bi-trash"></i>
						</button>
					</form>
				}

				<a class="card-link text-decoration-none m-2" asp-controller="Categories" asp-action="Show" asp-route-id="@category.Id">
					<div class="card" style="width:18rem;color: black;">
						<div class="card-body text-start">
							<h4 class="card-title">
								@category.Name
							</h4>

							<p class="card-text">@category.Description</p>
						</div>
					</div>
				</a>
			</li>
		}
	</ul>
</div>