@model Category

@{
	var threads = ViewBag.threads;
	var usermanager = ViewBag.userManager;
}

<div class="card">
	<div class="card-body">
		<div class="d-flex">
			<h2 class="card-title">@Model.Name</h2>
		
			@if (User.Identity.IsAuthenticated)
			{
				<form class="d-inline-block" method="post" asp-controller="Users" asp-action="SubscribeToggle" asp-route-userId="@usermanager.GetUserId(User)" asp-route-categoryId="@Model.Id" asp-route-actionName="Show">
					<button type="submit" class="m-2 btn btn-success rounded-pill">
						@{
							bool isFollowing = false;
							foreach (var cat in ViewBag.followedCats)
							{
								if (cat == @Model.Id)
								{
									isFollowing = true;
								}
							}
						}

						@if (!isFollowing)
						{
							<i class="bi bi-plus"></i>
						}
						else
						{
							<i class="bi bi-dash"></i>
						}
					</button>
				</form>
			}
		</div>

		@if (ViewBag.threads == null || ViewBag.threads.Count == 0)
		{
			<p class="text-dark">The category does not contain any threads.</p>
		} 
		else 
		{

			int maxThreads = threads.Count;
			int ci = 0;

			<div class="container">
				@for(int i = 0; i < ViewBag.pageRows && ci < maxThreads; ++i) {
					<div class="row">
						@for(int j = 0;j < ViewBag.perRow && ci < maxThreads; ++j) {
							<div class="col-sm m-4">
								@{
									var currentThr = threads[ci++];
								}

								@* <a asp-controller="Threads" asp-action="Show" asp-route-id="@currentThr.Id">	 *@
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">@currentThr.Title</h5>
											<h6 class="card-subtitle">
												Posted by @currentThr.User.UserName on @currentThr.CreateTime.ToString("g")
											</h6>
											<p class="card-text">@currentThr.Content</p>
										
											<a class="card-link btn btn-dark" asp-controller="Threads" asp-action="Show" asp-route-id="@currentThr.Id">See thread</a>
										</div>
									</div>
								@* </a> *@
							</div>
						}
					</div>
				}
			</div>

			<nav aria-label="page-navigation align-items-center">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>

					@for (int i = 1; i <= ViewBag.lastPage; i++)
					{
						<li class="page-item">
							<a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
						</li>
					}

					<li class="page-item">
						<a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		}
	</div>
</div>
