@{
    ViewData["Title"] = "Thread";
    Thread thread = ViewBag.thread;
    List<Comment> comments = ViewBag.comments;
    var uid = ViewBag.userId;
}

<div class="d-flex flex-row align-items-center">
    <h1>@thread.Title</h1>
    @if (@thread.UserId == uid)
    {
        <a class="btn btn-primary" asp-action="Edit" asp-controller="Threads" asp-route-id="@thread.Id"><i class="bi bi-pencil-square"></i></a>
    }
</div>
<small>Asked by @thread.User.UserName - @thread.CreateTime.ToString("g")</small>
<p>@thread.Content</p>

<h2>Comments</h2>
@if (comments != null && comments.Any())
{
    <ul>
        @foreach (var com in comments)
        {
            <li style="padding-left:@(com.Level*20)px">
                <strong>@com.User.UserName</strong> - @com.CreateTime.ToString("g")
                <p>@com.Content</p>
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}
