@{
    ViewData["Title"] = "Thread";
    Thread thread = ViewBag.thread;
    List<Comment> comments = ViewBag.comments;
}

<h1>@thread.Title</h1>
<small>Asked by @thread.User.UserName - @thread.CreateTime.ToString("g")</small>
<p>@thread.Content</p>

<h2>Comments</h2>
@if (comments != null && comments.Any())
{
    <ul>
        @foreach (var com in comments)
        {
            <li style="padding-left:@(com.Level*20)px">
                <strong>@com.User.UserName</strong> - @com.CreateTime.ToString("g")
                <p>@com.Content</p>
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}
