@model AppUser

<div class="d-flex flex-row align-items-center">
	<h1 class="m-2">You are now viewing @(Model.UserName)'s profile</h1>
	
	<a asp-controller="Users" asp-action="UpdateProfile" class="btn btn-primary">
		<i class="bi bi-pencil-square"></i> Edit
	</a>
</div>

<h4>Username: @(Model.UserName)</h4>
<h4>Email: @(Model.Email)</h4>

<h5>This user posted @(Model.Threads.Count) threads</h5>
<a asp-controller="Users" asp-action="UserShow" class="btn btn-dark" asp-route-id="@Model.Id">
	See posted threads
</a>